/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /* word-spacing: 0.5px; */
}

ul {
  list-style: none;
}
form {
  margin-left: auto;
  margin-right: auto;
  background-color: blueviolet;
  width: 60%;
  text-align: center;
}
input,
textarea {
  width: 50%;
}
input {
  height: 1.8em;
}

/* styles for menu */
.menu {
  flex: 0 0 10%;
  /* background-color: gold; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.menu h3:hover {
  color: white;
}
/* styles for menu */

/* styles for buttons */
button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
  width: 90%;
}
/* .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.topic {
  align-self: center;
} */
button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

button:active {
  background-color: #525252;
  color: #fafafa;
}

button.selected {
  background-color: black;
  color: white;
}

button.selected:hover {
  background-color: #505050;
  color: white;
}

button.selected:active {
  background-color: black;
  color: white;
}

/* styles for buttons */
